body {
  background-color: #f8f8f8;
  font-family: "TT Lakes";
}

@font-face {
  font-family: "TT Lakes";
  src: url(./font/TTLakes-Regular.eot) format("eot"),
    url(./font/TTLakes-Regular.ttf) format("ttf"),
    url(./font/TTLakes-Regular.woff) format("woff");
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url(./font/TTLakes-Medium.eot) format("eot"),
    url(./font/TTLakes-Medium.ttf) format("ttf"),
    url(./font/TTLakes-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./font/TTLakes-Bold.eot) format("eot"),
    url(./font/TTLakes-Bold.ttf) format("ttf"),
    url(./font/TTLakes-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./font/TTLakesCompressed-Regular.eot) format("eot"),
    url(./font/TTLakesCompressed-Regular.ttf) format("ttf"),
    url(./font/TTLakesCompressed-Regular.woff) format("woff");
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }

  .header__logo {
    display: flex;
  }

  .header__buttons {
    display: flex;
    align-items: center;
    column-gap: 25px;
  }

  .header__logo {
    border: none;
    background: none;
  }

  .tabs__items {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 15px;
    margin: 15px 0;
  }

  .tabs__item {
    color: #7e7e82;
    background: none;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
  }

  .tabs__item:hover {
    box-shadow: 2px 2px 0 #b8ffec inset, -2px -2px 0 #b8ffec inset;
  }

  .tabs__items::-webkit-scrollbar {
    width: 0;
  }

  .tabs__block:target {
    display: block;
  }
  .service__bttn {
    display: flex;
    padding: 18px 0 0 0;
  }

  .service {
    display: flex;
  }
  .service__content {
    display: flex;
    flex-direction: column;
  }
  .header__button_text {
    display: none;
  }

  .header__logo {
    border: none;
    background: none;
  }
  .title {
    padding-left: 15px;
  }

  .tabs__items {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 15px;
    margin: 15px 0;
  }

  .tabs__item {
    color: #7e7e82;
    background: none;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
  }

  .tabs__item:hover {
    box-shadow: 2px 2px 0 #b8ffec inset, -2px -2px 0 #b8ffec inset;
  }

  .tabs__items::-webkit-scrollbar {
    width: 0;
  }

  .service__bttn {
    display: flex;
    padding: 18px 0 0 0;
  }
  .service {
    display: flex;
  }
  .service__content {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .header__button:nth-child(3) {
    display: none;
  }
  .header__button:nth-child(4) {
    display: none;
  }
  .header__button:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 1920px) {
  .header__button {
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 40px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 44px;
  }

  .header__logo {
    border: none;
    background: none;
  }
  .title {
    padding-left: 15px;
  }

  .tabs__items {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 15px;
    margin: 15px 0;
  }

  .tabs__item {
    color: #7e7e82;
    background: none;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
  }

  .tabs__item:hover {
    box-shadow: 2px 2px 0 #b8ffec inset, -2px -2px 0 #b8ffec inset;
  }

  .tabs__items::-webkit-scrollbar {
    width: 0;
  }

  .service__bttn {
    display: flex;
    padding: 18px 0 0 0;
  }
  .service {
    display: flex;
  }
  .service__content {
    display: flex;
    flex-direction: column;
  }

  .header__button:nth-child(3) {
    display: none;
  }
  .header__button:nth-child(4) {
    display: none;
  }
  .header__button:nth-child(5) {
    display: none;
  }
  .header__line-split:nth-child(2) {
    display: none;
  }

  .header__logo {
    display: none;
  }
}
